.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: calc(100vh - 270px);
  overflow-y: auto;
  padding-right: 8px;
}

.list::-webkit-scrollbar {
  width: 8px;
}

.list::-webkit-scrollbar-track {
  background: #2f2f37;
}

.list::-webkit-scrollbar-thumb {
  background: #8585ad;
}
