.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 88px);
}

.content {
  text-align: center;
}

.link {
  color: #4c4cff;
  text-decoration: none;

  &:hover {
    color: #8585ff;
  }
}
